<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dashboard/style.css">
    <link rel="icon" type="image/x-icon" href="./assets/default.ico">
    <title>Dashboard</title>
</head>
<body class="dashboard">
    <section class="message">
      <div class="setting">
        <h1 class="setting-title">User settings</h1>
        <img class="avatar-setting" src="../assets/default.png" alt="default">
        <div class="edit">
          <input disabled class="username-setting">
          <div class="edit-button"></div>
        </div>
        <button onclick="deleteAccount()" class="delete">Delete account</button>
        <h1 class="setting-title">Application settings</h1>
          <div class="switch">
            <input type="checkbox" id="sound">
            <label for="sound">Incoming Notification Sound</label>
          </div>
          <div class="switch">
            <input type="checkbox" id="sound2">
            <label for="sound2">Outgoing Notification Sound</label>
          </div>
        <button style="background-color: rgb(6, 6, 48);" id="dark" class="delete">Toggle Dark Mode</button>
        <div class="buttons-footer">
          <button class="cancel">Close</button>
          <button class="save" style="background: #00b894; color: white;">Save</button>
        </div>
      </div>
        <input onclick="newconv()" class="search" type="text" name="message" id="message" placeholder="Search conversatation">
        <div class="conversations">
        </div>
    <div class="tool">
        <div class="left">
          <img class="personnal-avatar" src="../assets/default.png" alt="default">
          <h1 class="personnal-pseudo">Username<br><span class="email">email@company.com</span></h1>
        </div>
          <div>
            <img onclick="loadsettings()" class="options" src="../assets/settings.svg" alt="settings">
            <img onclick="logout()" class="options" src="../assets/logout.svg" alt="logout">
          </div>
    </div>
    </section>
    <section class="content">
        <div class="header">
            <img onclick="contentClose()" src="../assets/back.svg" alt="back">
            <div class='user-infos'>
                <img style="cursor: pointer;" class="avatar" src="../assets/default.png" alt="default">
                <h1 class="username">Username<br><span>Online</span></h1>
            </div>
        </div>
        <div class="messages">

        </div>
        <div class="send">
            <input class="send-message" type="text" name="message" id="message" placeholder="Type a message">
            <div class="send-button" onclick="send()"></div>
        </div>
    </section>
</body>
<script src="../dashboard/script.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('message', (data) => {
  if (data.message.convId == localStorage.getItem('convId')) {
    var message = document.createElement('div')
    if (data.message.sender == localStorage.getItem('id')) {
      message.className = 'my-message'
      let audio = new Audio('../assets/outgoing.mp3')
      if (localStorage.getItem('sound2') == 'true') audio.play()
    } else {
      message.className = 'other-message'
      let audio = new Audio('../assets/incoming.mp3')
      if (localStorage.getItem('sound') == 'true') audio.play()
    }
    message.innerHTML = `<p title='${new Date().toISOString().substring(11,19)}'>${data.message.text}</p>`
    document.querySelector('.messages').appendChild(message)
    let div = document.querySelector(".messages");
    div.scrollTop = div.scrollHeight;
  }
})


</script>
</html>