<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dashboard/style.css">
    <link rel="icon" type="image/x-icon" href="./assets/default.ico">
    <title>Dashboard</title>
</head>
<body class="dashboard">
    <section class="message">
        <input class="search" type="text" name="message" id="message" placeholder="Search conversatation">
        <div class="conversations">
        </div>
    <div class="tool">
        <div onclick="newconv()">+</div>
    </div>
    </section>
    <section class="content goodbye-section">
        <div class="header">
            <img onclick="contentClose()" src="../assets/back.svg" alt="back">
            <div class='user-infos'>
                <img style="cursor: pointer;" class="avatar" src="../assets/default.png" alt="default">
                <h1 class="username">Username<br><span>Online</span></h1>
            </div>
            <img src="../assets/call.svg" alt="more">
        </div>
        <div class="messages">

        </div>
        <div class="send">
            <input class="send-message" type="text" name="message" id="message" placeholder="Type a message">
        </div>
    </section>
</body>
<script src="../dashboard/script.js"></script>
</html>